@media (max-width: 1440px) {


}

@media (max-width: 1200px) {

  .header__top-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__logo {
    padding-top: 22px;
    padding-left: 68px;
    padding-bottom: 23px;

    background-color: var(--color-athens-gray);
  }

  .header__logo > img {
    max-width: 112px;
  }

  .header__hav {
    padding-top: 14px;
    padding-bottom: 30px;
    padding-left: 36px;
  }

  .header__items {
    align-items: flex-end;
  }

  .header__item:last-child {
    margin-right: 19px;
  }

  .header__age {
    display: none;
  }

  .header__bottom-content {
    padding-left: 68px;
    padding-bottom: 10px;
  }

  .header__bottom-items {
    padding-top: 8px;
  }

  .header__bottom-item {
    margin-right: 28px;
  }

  .header__bottom-item--last {
    margin-right: 38px;
  }

  .header__bottom-item--play {
    margin-right: 0;
    min-width: 150px;
  }


  /* hero */
  .hero__container {
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 86px;
  }

  .hero__title {
    padding-top: 45px;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  .hero__content-right {
    justify-content: initial;
    align-items: flex-end;
  }

  /* podcasts */
  .podcasts__container {
    padding: 95px 68px 92px;
  }

  /* broadcast */
  .broadcast__container {
    padding: 110px 68px 67px;
  }

  .broadcast__item--last {
    margin-bottom: 0;
  }

  /* guests */
  .guests__container {
    padding: 95px 68px;
  }

  .guests__items {
    columns: 3 auto;
    column-gap: 30px;
  }

  /* play-lists */
  .play-lists__container {
    padding: 95px 68px 98px;
  }

  .play-lists__items {
    margin-bottom: 0;
    padding-bottom: 0;

    display: flex;

    flex-direction: column;
    flex-wrap: wrap;

    max-height: 205px;

    border-bottom: none;
  }

  .play-lists__item {
    margin-bottom: 11px;
    margin-right: 33px;
  }

  .play-lists__cards {
    padding-top: 10px;
    padding-bottom: 23px;

    margin-bottom: 31px;

    border-bottom: 1px solid var(--color-mischka);
  }

  .play-lists__card {
    margin-bottom: 13px;

    flex-direction: row;

    align-items: center;

    max-width: 255px;
    min-height: 122px;
  }

  .play-lists__card-picture {
    max-width: 44%;
  }

  .play-lists__card-flag {
    position: absolute;
    z-index: 1;
    right: auto;
    left: 0;
    top: 0;
  }

  .play-lists__row {
    display: inline-flex;

    flex-wrap: nowrap;

    max-height: initial;
  }

  /* market */
  .market__container {
    padding: 95px 68px 93px;
  }

  .market__left {
    position: initial;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
  }

  .market__left > picture {
    position: relative;
  }

  .new {
    left: 5px;

    background-image: url("../img/new-tablet.svg");

    min-width: 100px;
    min-height: 100px;
  }

  /* about-us */
  .about-us__container {
    padding: 95px 68px 84px;
  }

  .about-us__spiral {
    display: none;
  }

  .about-us__descr {
    margin-bottom: 5px;
    line-height: 163%;
  }


  .about-us__descr > strong {
    display: block;
    line-height: 170%;
  }

  .about-us__title {
    margin-bottom: 8px;
  }

  .about-us__items {
    margin-bottom: 0;
  }

  .about-us__item {
    margin-bottom: 22px;
  }

  .about-us__dawn {
    padding-top: 0;
    padding-bottom: 5px;

    display: flex;
    align-items: center;
  }

  /* footer */
  .footer__top {
    padding: 95px 68px 69px;
  }

  .footer__items {
    padding-left: 23px;
  }


}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

  .header__top-content {
    padding-left: 33px;
    padding-right: 33px;
  }

  .header__logo {
    padding-left: 72px;
    padding-right: 72px;
  }

  .header__hav {
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 68px;

    display: flex;
    justify-content: flex-start;
  }

  .header__form {
    padding-right: 72px;
  }

  .burger {
    visibility: visible;
  }

  .header__items {
    position: absolute;
    z-index: 99;

    top: 60px;
    left: 70px;

    flex-direction: column;
    align-items: flex-start;

    color: currentColor;
    background: var(--color-bg);
    border: 1px solid var(--color-melrose);

    transform: translateX(-200%);
    overflow: hidden;
    transition: transform .3s ease-in-out;
  }

  .header__item {
    margin-bottom: 16px;
  }

  .header__items--active {
    transform: translateX(0);
  }

  .header__bottom-content {
    padding-left: 90px;
    padding-right: 82px;
    padding-bottom: 18px;
  }

  .header__bottom-item:not(:last-child) {
    margin: 0;
  }

  .early {
    display: none;
  }

  .now {
    padding-left: 0;
    min-width: initial;
    border: none;
  }

  .now > p {
    display: none;
  }

  .header__bottom-items {
    padding-top: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__container {
    padding-left: 90px;
    padding-right: 82px;
  }

  .hero__content-right {
    display: none;
  }

  .podcasts__container {
    padding-left: 90px;
    padding-right: 82px;
  }

  .podcasts__item {
    padding-right: 23px;
  }

  .broadcast__container {
    padding-left: 90px;
    padding-bottom: 6px;
    padding-right: 82px;
  }

  .broadcast__form {
    width: calc(50% - 17px);
  }

  .broadcast__item--first {
    margin-right: 36px;
    margin-bottom: 36px;
  }

  .broadcast__item--last {
    margin-top: 32px;
    padding-top: 30px;

    display: inline-flex;
    flex-direction: row;

    align-items: flex-start;
    border-top: 1px solid var(--color-athens-gray);
  }

  .broadcast__item-bottom > p {
    width: 80%;

  }

  .broadcast__item--last > picture {
    padding-right: 23px;
    display: flex;
    justify-content: flex-end;

    width: 47%;

  }

  .guests__container {
    padding-left: 90px;
    padding-bottom: 94px;
    padding-right: 90px;
  }

  .guests__item {
    margin-bottom: 14px;
  }

  .guests__accordion-item.is-active .guests__items {
    padding-bottom: 9px;
  }

  .guests__content {
    padding-top: 49px;
  }

  .guests__content-descr {
    width: 75%;
  }

  .play-lists__container {
    padding-left: 90px;
    padding-bottom: 99px;
    padding-right: 90px;
  }

  .play-lists__items {
    margin-bottom: 10px;

    max-height: 240px;
  }

  .play-lists__item {
    margin-bottom: 24px;
  }

  .play-lists__card-content > * {
    padding-left: 10px;
  }

  .market__container {
    padding: 41px 90px 94px;
  }

  .new {
    background-image: url("../img/new.svg");

    min-width: 160px;
    min-height: 160px;
  }

  .market__title {
    max-width: 90%;
  }

  .about-us__container {
    padding-left: 90px;
    padding-bottom: 83px;
    padding-right: 90px;
  }

  .about-us__spiral {
    display: block;
  }

  .about-us__descr {
    margin-bottom: 29px;
  }

  .footer__top {
    padding-left: 90px;
    padding-bottom: 46px;
    padding-right: 90px;
  }

  .footer__row {
    padding-right: 24px;
    margin-bottom: 83px;

    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .social__link-phone {
    display: block;
  }

  .social__link-desktop {
    display: none;
  }

  .footer__logo {
    margin-bottom: 22px;
  }

  .social-items {
    padding-left: 22px;

    justify-content: space-between;

    min-width: 244px;
  }

  .footer__items {
    padding-left: 0;
    column-gap: 160px;
  }

  .footer__item {
    margin-bottom: 30px;
  }


}

@media (max-width: 768px) {


}


@media (max-width: 576px) {
  .title {
    font-weight: 400;
    font-size: 24px;
  }

  .header__top {
    min-height: 54px;
    /*background-color: var(--color-athens-gray);*/
  }

  .header__top-row {
    position: relative;
  }

  .header__logo {
    padding: 0;

    position: absolute;
    top: 21px;
    left: 12px;

    max-width: 87px;
    background-color: transparent;
  }

  .header__form {
    padding: 0;

    position: absolute;

    top: 8px;
    right: 13px;

    display: inline-flex;

    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .header__hav {
    padding-left: 8px;
    padding-top: 61px;
    padding-bottom: 6px;
  }

  .header__btn-enter {
    padding: 8px 23px;
  }

  .header__btn-search {
    padding-top: 22px;
    margin-right: 1px;
  }

  .header__bottom {
    border-bottom: 1px solid var(--color-athens-gray);
  }

  .header__bottom-content {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 79px;
    position: relative;
  }

  .header__bottom-content-row {
    justify-content: center;
  }

  .header__bottom-burger {
    display: flex;

    align-items: center;

    width: initial;
    height: initial;
  }

  .header__bottom-items {
    position: absolute;
    z-index: 99;

    top: 32px;
    left: calc(10%);

    width: 80%;

    flex-direction: column;
    align-items: flex-start;

    color: currentColor;
    background: var(--color-bg);
    border: 1px solid var(--color-melrose);

    transform: translateX(-200%);
    overflow: hidden;
    transition: transform .3s ease-in-out;
  }

  .header__bottom-items--active {
    transform: translateX(0);
  }

  .early,
  .now {
    display: flex;
    padding-left: 0;
    min-width: initial;
    border: none;
  }

  .now > p {
    display: flex;
  }

  .burger--left {
    padding-top: 4px;
    margin-right: 5px;
  }

  .hero__container {
    padding: 37px 30px 40px 31px;
  }

  .hero__title {
    margin-bottom: 3px;
    padding-top: 0;
    font-weight: 700;
    font-size: 32px;
  }

  .hero__descr {
    margin-bottom: 21px;
  }

  .descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .hero__btn {
    padding: 15px 43px;

    font-weight: 500;
    font-size: 16px
  }

  .podcasts__container {
    padding: 54px 30px 53px 31px;
  }

  .podcasts__item:nth-last-child(-n+4) {
    display: none;
  }

  .podcasts__title {
    margin-bottom: 20px;
  }

  .podcasts__item {
    padding-right: 18px;
  }

  .podcasts__item-content {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .podcasts__item-date {
    top: 0;
    bottom: initial;
  }

  .podcasts__item-right {
    padding-left: 16px;
  }

  .podcasts__item-title {
    padding-top: 4px;
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__item-descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .play-btn-small {
    display: initial;
  }

  .play-btn {
    display: none;
  }

  .podcasts__item-btn {
    padding-top: 5px;
    margin-right: 16px;
    color: var(--color-electric-violet);
  }

  .podcasts__item-reactions {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 17px;
  }

  .reactions__btn {
    margin-right: 31px;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .reactions__btn > svg {
    margin-right: 5px;
  }

  .podcasts__bottom {
    padding-top: 0;
  }

  .podcasts__btn {
    padding: 15px 28px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .broadcast__container {
    padding: 54px 30px 29px 31px;
  }

  .broadcast__form {
    width: 100%;
  }

  .form-select__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__title {
    margin-bottom: 20px;
  }

  .broadcast__item:not(:first-child):not(:last-child) {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 29px;
    padding-right: 17px;

    min-height: 149px;
  }

  .broadcast__item:not(:first-child):not(:last-child):after {
    content: "";
    position: absolute;

    top: 0;
    bottom: 0;
    left: 15px;
    right: 17px;

    border: 1px solid var(--color-athens-gray);
  }

  .broadcast__item.broadcast__item--first {
    margin-bottom: 31px;
    transform: none;
  }

  .broadcast__item-title {
    margin-bottom: 5px;

    padding-left: 9px;
    padding-right: 9px;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__item-img {
    margin-bottom: 10px;

    width: 100%;
    max-height: 50px;
    object-fit: cover;
  }

  .broadcast__item-descr {
    margin: 0;
    padding-left: 9px;
    padding-right: 15px;
    flex-grow: 5;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__item-link {
    padding-bottom: 11px;
    padding-left: 10px;

    color: var(--color-electric-violet);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__item--last {
    margin: 0;
    padding-top: 31px;
  }

  .broadcast__item-bottom {
    display: inline-flex;
    flex-direction: column-reverse;
  }

  .broadcast__item--last > picture {
    margin-right: 13px;
    padding-right: 0;
    display: inline-flex;
    justify-content: flex-end;
    width: 77%;
  }

  .broadcast__item-bottom > p {
    width: initial;
  }

  .broadcast__item--last .broadcast__item-img {
    margin-bottom: 0;

    max-height: initial;
  }

  .broadcast__item-btn {
    margin: 0;
    padding: 5px 17px;
    width: fit-content;
  }

  .guests__container {
    padding: 54px 30px 54px 31px;
  }

  .guests__title {
    margin-bottom: 12px;
  }

  .guests__descr {
    margin-bottom: 0;
    line-height: 157%;
  }

  .guests__top {
    margin-bottom: 29px;
  }

  .guests__accordion-item-title {
    font-size: 16px;
  }

  .arrow-in-circle {
    transform: scale(.6);
  }

  .arrow-in-circle--active {
    transform: scale(.6) rotate(180deg);
  }

  .guests__accordion-item-title {
    padding: 4px 0 5px;
  }

  .guests__items {
    columns: 2 auto;
    column-gap: 26px;

    font-size: 14px;
    line-height: 100%;
  }

  .guests__accordion-item.is-active .guests__items {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .guests__link {
    display: table-caption;
  }

  .guests__accordion {
    display: flex;
    flex-direction: column;
  }

  .guests__accordion-item-5 {
    order: 1;
  }

  .guests__accordion-item-2 {
    order: 2;
  }

  .guests__accordion-item-3 {
    order: 3;
  }

  .guests__accordion-item-4 {
    order: 4;
  }

  .guests__accordion-item-6 {
    order: 5;
    border-bottom: var(--color-gray-chateau) solid 1px;
  }

  .guests__accordion-item-1 {
    display: none;
    order: 6;
  }

  .guests__item {
    margin-bottom: 32px;
  }

  .guests__accordion-item-title {
    border-bottom: none;
  }

  .guests__accordion-item.is-active .guests__accordion-item-title {
    border-bottom: var(--color-gray-chateau) solid 1px;
  }

  .guests__content {
    padding-top: 30px;
  }

  .guests__social-photo > img {
    margin-bottom: 10px;
  }

  .social-items {
    margin-bottom: 6px;
    padding-left: 6px;
    justify-content: initial;
    min-width: initial;
  }

  .social__link.icon-link > svg {
    transform: scale(1.5);
  }

  .social-item {
    margin-right: 34px;
  }

  .guests__content-descr {
    width: initial;
  }

  .guests__content-btn {
    padding: 8px 13px;
  }

  .play-lists__container {
    padding: 54px 30px 54px 31px;
  }

  .play-lists__card {
    flex-direction: column;
    align-items: flex-start;
    width: 47%;
  }

  .play-lists__card-picture {
    max-width: initial;
  }

  .play-lists__card-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .play-lists__card-descr {
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    overflow: hidden;
  }

  .play-lists__items {
    flex-direction: row;
    flex-wrap: nowrap;

    overflow: hidden;
  }

  .play-lists__item {
    display: flex;

    margin-right: 18px;
    margin-bottom: 0;
  }

  .radio-new {
    position: relative;
    padding: 10px 20px 9px 18px;
    margin: 0;

    display: inline;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    width: fit-content;
    color: var(--color-electric-violet);
  }

  .radio-new:before {
    content: "";
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: -2px;

    border: 2px solid var(--color-electric-violet);
    border-radius: 77px;
  }

  .radio-new-checker {
    display: none;
  }

  .radio-new-check:checked ~ .radio-new-caption {
    color: var(--color-bg);
    background-color: var(--color-electric-violet);
  }

  .play-lists__title {
    margin-bottom: 17px;
  }

  .play-lists__descr {
    margin-bottom: 4px;
    font-size: 12px;
  }


}


@media (max-width: 375px) {


}

@media (max-width: 320px) {

}
