@media (max-width: 1440px) {


}

@media (max-width: 1200px) {
  .container {
    padding-left: 68px;
    padding-right: 68px;
  }

  .header__top-content {
    padding: 0;
    margin: 0;
  }
  .header__logo {
    padding-top: 22px;
    padding-left: 114px;
    padding-bottom: 23px;

    background-color: var(--color-athens-gray);
  }

  .header__logo >img {
    max-width: 112px;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {


}


@media (max-width: 576px) {


}


@media (max-width: 375px) {


}

@media (max-width: 320px) {

}
