@media (max-width: 1200px) {
  :root {
    --indent: 100px;
  }

  .container {
    padding-top: 94px;
    padding-bottom: 94px;

    max-width: calc(100% - (2 * var(--indent)));
  }

  .header__top-content {
    max-width: 100%;
  }

  .header__top-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__top-content {
    order: 0;
    padding-top: 0;
    padding-bottom: 0;

    text-align: initial;
  }

  .header__logo {
    margin: 0;

    padding-top: 22px;
    padding-bottom: 23px;

    justify-content: flex-start;

    width: 100%;
    background-color: var(--color-athens-gray);
  }

  .header__logo-picture {
    margin: 0 auto;

    width: calc(100% - 198px);
  }

  .header__logo-img {
    max-width: 112px;
  }

  .header__bottom-content-row {
    display: flex;

    align-items: center;
    flex-wrap: nowrap;
  }

  .header__hav {
    padding-top: 14px;
    padding-bottom: 30px;

    justify-content: flex-start;
  }

  .header__items {
    margin-right: 16px;

    justify-content: flex-start;
    align-items: flex-end;
  }

  .header__item:last-child {
    margin-right: 19px;
  }

  .header__age {
    display: none;
    width: 0;
  }

  .header__bottom-content {
    padding: 12px 0;
  }

  .header__bottom-items {
    padding-right: initial;
  }

  .header__bottom-btns {
    padding-left: initial;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 28px;
  }

  .header__bottom-item--last {
    margin-right: 38px;
  }

  .header__bottom-btns-play {
    margin-right: 0;
    min-width: 150px;
  }

  /* hero */
  .hero__container {
    padding-top: 40px;
    padding-bottom: 90px;
  }

  .hero__title {
    padding-top: 45px;
  }

  .hero__descr {
    margin-bottom: 20px;
    max-width: initial;
  }

  .hero__content-right {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .hero__content-right-img {
    max-width: 93%;
  }

  /* podcasts */
  .podcasts__container {
    padding-bottom: 92px;
  }

  /* broadcast */
  .broadcast__container {
    padding-top: 109px;
    padding-bottom: 64px;
  }

  .broadcast__item-first,
  .broadcast__item-last,
  .broadcast__item {
    margin-bottom: 31px;

    width: calc((100% / 3) - 20px);
    max-width: calc(100% / 3);
  }

  .broadcast__items:before {
    content: "";
    width: calc((100% / 3) - 20px);
    max-width: calc(100% / 3);
    order: 6;
  }

  .broadcast__item-last {
    margin-bottom: 0;
    order: 3;
  }

  .broadcast__item-3 {
    order: 4;
  }

  .broadcast__item-down {
    padding-left: 14px;
  }

  /* guests */
  .guests__content {
    padding-bottom: 96px;
  }

  .guests__social-photo > img {
    margin-bottom: 5px;
  }

  .guests__items {
    columns: 3 auto;
    column-gap: 30px;
  }

  .guests__content-descr {
    margin-bottom: 32px;
  }

  .guests__descr {
    margin-bottom: 9px;
  }

  /* play-lists */
  .play-lists__content {
    margin-bottom: 10px;

    max-width: 100%;
  }

  .play-lists__items {
    margin-bottom: 0;
    padding-bottom: 0;

    display: flex;

    flex-direction: column;
    flex-wrap: wrap;

    max-height: 205px;

    border-bottom: none;
  }

  .play-lists__item {
    margin-bottom: 20px;
    margin-right: 34px;
  }

  .play-lists__warning {
    order: 2;

    max-width: initial;
    color: var(--color-gray-chateau);
  }

  .play-lists__cards {
    order: 1;
    padding-top: 0;
    padding-bottom: 20px;

    margin-bottom: 16px;

    border-bottom: 1px solid var(--color-mischka);
    max-width: initial;
  }

  .play-lists__card {
    margin-bottom: 28px;

    flex-direction: row;

    min-width: 31%;
  }

  .play-lists__card-picture {
    display: flex;
    height: 100%;
  }

  .play-lists__card-btn {
    top: calc(50% - 24px);
    left: 34px;
  }

  .play-lists__card-img {
    width: initial;
    height: 112px;
  }

  .play-lists__card-flag {
    position: absolute;
    z-index: 1;
    right: auto;
    left: 0;
    top: 0;
  }

  .play-lists__card-content {
    padding: 0 0 0 8px;
    flex: 1 0 auto;
    justify-content: center;
  }

  .play-lists__row {
    display: inline-flex;

    flex-wrap: nowrap;

    max-height: initial;
  }

  /* market */
  .market__container-row {
    align-items: center;
  }

  .market__left {
    /*position: initial;*/
    padding-bottom: 48px;

    flex-basis: calc(50% - 15px);
    display: flex;
    align-items: center;
  }


  .market__left:before {
    top: 3px;
    left: 0;

    background-image: url("../img/new-tablet.svg");

    min-width: 100px;
    min-height: 100px;
  }

  .market__right {
    flex-basis: calc(50% - 16px);
  }

  .market__price {
    margin-bottom: 28px;
  }

  .market__descr > span {
    padding-left: 7px;
  }

  /* about-us */
  .about-us__top-content {
    width: 60%;
  }

  .about-us__spiral {
    display: none;
    width: 0;
  }

  .about-us__descr {
    margin-bottom: 5px;
    line-height: 160%;
    width: 100%;
  }

  .about-us__title {
    margin-bottom: 12px;
  }

  .about-us__descr > strong {
    margin-bottom: 8px;

    display: block;
    line-height: 150%;
  }

  .about-us__top {
    margin-bottom: 25px;
  }

  .about-us__items {
    margin-bottom: 0;

    flex-wrap: wrap;
  }

  .about-us__item {
    margin-bottom: 30px;
  }

  .about-us__item-descr {
    max-width: initial;
  }

  .about-us__dawn {
    padding-top: 0;
    padding-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: end;
  }

  .about-us__form {
    width: initial;
  }

  .form__textarea {
    margin-bottom: 24px;
  }

  .form__btn {
    margin-bottom: 29px;
  }

  /* footer */
  .footer__top {
    padding-top: 92px;
    padding-bottom: 0;
  }

  .footer__items {
    padding-left: 23px;
  }

  .footer__bottom {
    padding: 0;
  }

  .footer__top-menu {
    max-width: 57%;
  }

  .footer__wave {
    background-image: url("../img/long-wave-tablet.svg");
  }

}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

  :root {
    --indent: 114px;
  }

  .container {
    max-width: max(calc(100% - (2 * var(--indent))), 530px);
  }

  /* header */
  .header__logo-picture {
    margin: 0;
    width: initial;
  }

  .header__logo {
    position: relative;
    z-index: 99;
    background-color: transparent;

  }

  .header__logo:after {
    position: absolute;
    z-index: -1;

    content: "";
    top: 0;
    bottom: 0;
    left: calc(0 - var(--indent));
    right: calc(0 - var(--indent));


    background-color: var(--color-athens-gray);
  }

  .header__hav {
    padding-top: 23px;
    padding-bottom: 20px;

    display: flex;
    justify-content: flex-start;
  }

  .header__top-row {
    justify-content: space-between;
  }

  .header__top-right {
    /*padding-right: 72px;*/
  }

  .burger {
    width: 32px;
    visibility: visible;
  }

  .header__items {
    position: absolute;
    z-index: 99;

    top: 110px;
    left: var(--indent);

    flex-direction: column;
    align-items: flex-start;

    color: currentColor;
    background: var(--color-bg);
    border: 1px solid var(--color-melrose);

    transform: translateX(-200%);
    overflow: hidden;
    transition: transform .3s ease-in-out;
  }

  .header__item {
    margin-bottom: 16px;
  }

  .header__items--active {
    transform: translateX(0);
  }

  .header__bottom-content {
    padding: 19px 0;
  }

  .header__bottom-content-row {
    justify-content: space-between;
  }

  .header__bottom-items {
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 47px);
  }

  .header__bottom-item:not(:last-child) {
    margin: 0;
  }

  .header__bottom-item--last {
    margin-right: 0;
  }

  .header__btn--play {
    margin-right: 3px;
  }

  .early {
    display: none;
    width: 0;
  }

  .now {
    padding-left: 0;
    min-width: initial;
    border: none;
  }

  .now > p {
    display: none;
  }

  /* hero */
  .hero__container {
    padding-top: 84px;
  }

  .hero__content-left {
    flex-basis: initial;
  }

  .hero__title {
    padding: 0;
  }

  .hero__content-right {
    display: none;
    width: 0;
  }

  /*podcasts*/
  .podcasts__container {
    padding-bottom: 94px;
  }

  .podcasts__item {
    width: 100%;
  }

  .podcasts__item:nth-child(2n-1) {
    margin-right: 0;
  }

  .podcasts__bottom {
    padding-top: 31px;
  }

  /*broadcast*/
  .broadcast__container {
    padding-top: 94px;
    padding-bottom: 0;
  }

  .broadcast__form {
    width: calc(100% - 5px);
  }

  .broadcast__items:before {
    order: 1;
  }

  .broadcast__item-first,
  .broadcast__item-last,
  .broadcast__item {
    margin-bottom: 31px;
    width: calc((100% / 2) - 15px);
    max-width: calc(100% / 2);
  }

  .broadcast__item-first {
    margin-bottom: 48px;
    transform: none;
  }

  .broadcast__item-3 {
    order: 4;
  }

  .broadcast__item-last {
    margin-top: 30px;
    margin-bottom: 12px;

    padding-top: 30px;

    display: inline-flex;
    flex-direction: row;

    align-items: flex-start;

    order: 7;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid var(--color-athens-gray);
  }

  .broadcast__item-last > picture {
    padding-right: 17px;
    display: flex;
    justify-content: flex-end;

    width: 47%;
  }

  .broadcast__item-down {
    padding-left: 15px;
    padding-top: 19px;
  }

  .broadcast__item-bottom > p {
    width: 80%;
  }

  .broadcast__item-btn {
    margin-bottom: 8px;
  }

  /*guests*/
  .guests__descr {
    max-width: 100%;
  }

  .guests__item {
    margin-bottom: 14px;
  }

  .guests__accordion {
    max-width: 100%;
  }

  .guests__accordion-item.is-active .guests__items {
    padding-bottom: 9px;
  }

  .guests__content {
    padding-top: 49px;
    padding-bottom: 0;

    max-width: 100%;
  }

  .guests__content-descr {
    width: 75%;
  }

  .guests__social-photo > img {
    margin-bottom: 7px;
  }

  .guests__social {
    justify-content: space-between;
    width: calc(24% + 2px);
    min-width: 100px;
  }

  .guests__social .social-item {
    margin-right: 0;
  }

  /*play-lists*/
  .play-lists__container {
    padding-bottom: 93px;
  }

  .play-lists__legend {
    margin-bottom: 10px;
  }

  .play-lists__content {
    margin-bottom: 16px;
  }

  .play-lists__items {
    margin-bottom: 0;

    max-height: 240px;
  }

  .play-lists__item {
    margin-bottom: 34px;
  }

  .play-lists__card {
    margin-bottom: 28px;
    min-width: calc(47% + 2px);
    min-height: initial;
  }

  .play-lists__card-content {
    margin-bottom: 0;
  }

  .play-lists__card-picture {
    margin-bottom: 0;
  }

  .play-lists__warning {
    order: 2;
  }

  .play-lists__cards {
    padding-bottom: 22px;
    margin-bottom: 15px;
    order: 1;
  }

  .play-lists__descr.warning {
    margin-bottom: 1px;
  }

  /*market*/
  .market__container {
    padding-top: 53px;
  }

  .market__container-row {
    background-size: 100%;
  }

  .market__left:before {
    top: 0;

    background-image: url("../img/new.svg");

    min-width: 160px;
    min-height: 160px;
  }

  .market__title {
    max-width: 100%;
    background-image: url("../img/wave-tablet.svg");
  }

  .market__left {
    padding-top: 0;
    padding-bottom: 51px;

    flex-basis: initial;
  }

  .market__right {
    flex-basis: initial;
  }

  .market__descr > span {
    padding-left: 0;
  }

  .market__price {
    margin-bottom: 27px;
  }

  /*about-us*/
  .about-us__top {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  .about-us__spiral {
    margin: 0;
    display: block;
    width: 80%;
  }

  .about-us__dawn {
    width: 20%;
  }

  .dawn {
    width: 100%;
  }

  .about-us__descr {
    margin-bottom: 29px;
  }

  .about-us__item {
    width: calc(50% - 15px);
  }

  .about-us__item-photo {
    width: 100%;
  }

  .form__input-label {
    width: 100%;
  }

  /*footer*/
  .footer__top-row {
    flex-direction: column;
    justify-content: center;
  }

  .footer__top-logo {
    padding-top: 38px;
    margin-bottom: 71px;

    display: flex;
    flex-direction: column;

    align-items: center;

    background-position-x: calc(50% - 4px);
  }

  .footer__top-menu {
    max-width: 100%;
  }

  .footer__items {
    column-gap: 170px;
  }

  .footer__social {
    margin-right: 0;
    justify-content: center;
    width: 216px;
  }

  .social__link-desktop {
    width: 36px;
    height: 36px;
  }

  .social-item:nth-child(1) .social__link-desktop {
    height: 42px;
  }

  .social-item:nth-child(3) .social__link-desktop {
    width: 30px;
    height: 30px;
  }

  .footer__logo {
    margin-bottom: 22px;
    margin-right: 8px;
  }

  .footer__social > .social-item {
    margin:0 23px 0 0;
  }

  .footer__social > .social-item:last-child {
    margin:0;
  }

  .footer__items {
    padding-left: 0;
    column-gap: 160px;
  }

  .footer__item {
    margin-bottom: 30px;
  }

  .footer__top {
    margin-bottom: 0;
    padding-bottom: 48px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  :root {
    --indent: 32px;
  }

  .container {
    max-width: calc(100% - (2 * var(--indent)));
  }

  .title {
    font-weight: 400;
    font-size: 24px;
  }

  .header__logo:after {
    content: none;
  }

  .header__logo-img {
    max-width: 100%;
  }

  .header__top {
    min-height: 54px;
  }

  .header__top-row {
    position: relative;
  }

  .header__logo {
    padding: 0;

    position: absolute;
    top: 21px;
    left: 0;

    max-width: 87px;
    background-color: transparent;
  }

  .header__top-right {
    padding: 0;

    position: absolute;

    top: 8px;
    right: 0;

    display: inline-flex;

    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .header__hav {
    padding-top: 61px;
    padding-bottom: 6px;
  }

  .header__btn-enter {
    padding: 8px 23px;
  }

  .header__btn-search {
    padding-top: 23px;
    margin-right: 1px;
  }

  .header__form {
    right: 0;
    top: 40px;
    width: initial;
    min-width: 200px;
  }

  .header__input {
    width: 100%;
  }

  .header__bottom {
    border-bottom: 1px solid var(--color-athens-gray);
  }

  .header__bottom-content {
    padding: 9px 0;

    position: relative;
  }

  .header__bottom-content-row {
    justify-content: center;
  }

  .header__bottom-burger {
    display: flex;

    align-items: center;

    width: initial;
    height: initial;
  }

  .header__items {
    left: 0;
  }

  .header__bottom-items {
    position: absolute;
    z-index: 99;

    top: 32px;
    left: 0;

    width: 100%;

    flex-direction: column;
    align-items: flex-start;

    color: currentColor;
    background: var(--color-bg);
    border: 1px solid var(--color-melrose);

    transform: translateX(-200%);
    overflow: hidden;
    transition: transform .3s ease-in-out;
  }

  .header__bottom-items--active {
    transform: translateX(0);
  }

  .header__bottom-btns {
    display: none;
    width: 0;
  }

  .burger-left {
    padding-top: 4px;
    margin-right: 5px;
  }

  /*hero*/
  .hero__container {
    padding-top: 37px;
    padding-bottom: 41px;
  }

  .hero__title {
    margin-bottom: 4px;
    padding-top: 0;
    font-weight: 700;
    font-size: 32px;
  }

  .hero__descr {
    margin-bottom: 19px;
  }

  .descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .hero__btn {
    padding: 15px 43px;

    font-weight: 500;
    font-size: 16px
  }

  /*podcasts*/
  .podcasts__container {
    padding-top: 53px;
    padding-bottom: 53px;
  }

  .podcasts__item-time {
    margin-bottom: 4px;
  }

  .podcasts__title {
    margin-bottom: 20px;
  }

  .podcasts__item-content {
    padding: 17px 0 15px;
  }

  .podcasts__item-date {
    top: 0;
    bottom: initial;
  }

  .podcasts__item-right {
    padding-left: 16px;
  }

  .podcasts__item-title {
    padding-top: 4px;
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__item-descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .play-btn {
    width: 36px;
    height: 36px;
  }

  .podcasts__item-left {
    width: 100%;
  }

  .podcasts__item-img {
    width: 100%;
  }

  .podcasts__item-btn {
    padding-top: 5px;
    margin-right: 16px;
    color: var(--color-electric-violet);
  }

  .podcasts__item-reactions {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 17px;
  }

  .reactions__btn {
    margin-right: 31px;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .reactions__btn > svg {
    margin-right: 5px;
  }

  .podcasts__bottom {
    padding-top: 0;
  }

  .podcasts__btn {
    padding: 15px 28px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  /*broadcast*/
  .broadcast__container {
    padding-top: 54px;
    padding-bottom: 28px;
  }

  .broadcast__form {
    width: 100%;
  }

  .form-select__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__title {
    margin-bottom: 16px;
  }

  .choices {
    padding-top: 3px;
  }

  .broadcast__items:before {
    content: none;
  }

  .broadcast__item-first {
    margin-bottom: 28px;

    max-width: 100%;
    width: 100%;
  }

  .broadcast__item:not(:first-child):not(:last-child) {
    margin-bottom: 29px;

    display: flex;
    flex-direction: column;

    position: relative;

    min-height: 150px;
  }

  .broadcast__item-down {
    padding: 10px 0 0;

    min-height: 100px;
  }

  .broadcast__item:not(:first-child):not(:last-child):after {
    content: "";
    position: absolute;

    top: 0;
    bottom: 0;
    left: 15px;
    right: 17px;
  }

  .broadcast__item.broadcast__item-first {
    margin-bottom: 29px;
    transform: none;
  }

  .broadcast__item-title {
    margin-bottom: 5px;

    padding-left: 9px;
    padding-right: 9px;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__item-img {
    width: 100%;
    max-height: 50px;
    object-fit: cover;
    object-position: center top;
  }

  .broadcast__item-descr {
    margin: 0;
    padding-left: 9px;
    padding-right: 15px;
    flex-grow: 5;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__item-link {
    padding-bottom: 11px;
    padding-left: 10px;

    color: var(--color-electric-violet);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__item-last {
    margin: 0;
    padding-top: 31px;
  }

  .broadcast__item-bottom {
    display: inline-flex;
    flex-direction: column-reverse;
  }

  .broadcast__item-last > picture {
    margin-right: 13px;
    padding-right: 0;
    display: inline-flex;
    justify-content: flex-end;
    width: 77%;
    max-width: 80px;
  }

  .broadcast__item-bottom > p {
    margin-bottom: 7px;
    width: initial;
  }

  .broadcast__item-last .broadcast__item-img {
    margin-bottom: 0;

    max-height: initial;
  }

  .broadcast__item-btn {
    margin: 0;
    padding: 5px 17px;
    width: fit-content;
  }

  /*guests*/
  .guests__container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .guests__title {
    margin-bottom: 12px;
  }

  .guests__descr {
    margin-bottom: 0;
    line-height: 157%;
  }

  .guests__top {
    margin-bottom: 29px;
  }

  .guests__accordion-item-title {
    font-size: 16px;
  }

  .arrow-in-circle {
    width: 26px;
  }

  .arrow-in-circle--active {
    transform: scale(.6) rotate(180deg);
  }

  .guests__accordion-item-title {
    padding: 4px 3px 5px 0;
  }

  .guests__items {
    columns: 2 auto;
    column-gap: 26px;

    font-size: 14px;
    line-height: 100%;
  }

  .guests__accordion-item.is-active .guests__items {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .guests__link {
    display: table-caption;
  }

  .guests__accordion {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .guests__accordion-item-5 {
    order: 1;
  }

  .guests__accordion-item-2 {
    order: 2;
  }

  .guests__accordion-item-3 {
    order: 3;
  }

  .guests__accordion-item-4 {
    order: 4;
  }

  .guests__accordion-item-6 {
    order: 5;
    border-bottom: var(--color-gray-chateau) solid 1px;
  }

  .guests__accordion-item-1 {
    display: none;
    order: 6;
  }

  .guests__item {
    margin-bottom: 32px;
  }

  .guests__accordion-item-title {
    border-bottom: none;
  }

  .guests__accordion-item.is-active .guests__accordion-item-title {
    border-bottom: var(--color-gray-chateau) solid 1px;
  }

  .guests__content {
    padding-top: 30px;
  }

  .guests__social-photo > img {
    margin-bottom: 13px;
  }

  .guests__social {
    margin-bottom: 6px;
    padding-left: 6px;
    justify-content: initial;
    min-width: initial;
    width: 100%;
  }

  .guests__content .social__link.icon-link > svg {
    transform: scale(1.5);
  }

  .guests__social .social-item {
    margin-right: 35px;
  }

  .guests__content-descr {
    width: initial;
  }

  .guests__content-btn {
    padding: 8px 13px;
  }

  .guests__content-descr {
    margin-bottom: 30px;
  }

  /*play-lists*/
  .play-lists__container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .play-lists__row {
    width: 100%;
  }

  .play-lists__card {
    width: 44%;
    min-width: 40%;
  }

  .play-lists__card-picture {
    margin: 0;

    flex-direction: column;
    align-items: flex-start;
  }

  .play-lists__card-img {
    flex: 0;
    width: 100%;
  }

  .play-lists__card-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .play-lists__card-descr {
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    overflow: hidden;
  }

  .play-lists__title {
    margin-bottom: 21px;
  }

  .play-lists__legend {
    margin-bottom: 4px;
    font-size: 12px;
  }

  .play-lists__items {
    position: relative;
    overflow-x: scroll;

    flex-direction: row;
    flex-wrap: nowrap;

    width: calc(100vw - (2 * var(--indent)));
  }

  .play-lists__item {
    margin: 0;
    display: flex;
  }

  .play-lists__item:not(:last-child) {
    margin-right: 16px;
  }

  .play-lists__content {
    max-width: 100%;
  }

  .radio-new-caption {
    padding: 7px 19px 7px 20px;
    margin: 0;

    display: inline;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    width: fit-content;
    color: var(--color-electric-violet);

    border: 2px solid var(--color-electric-violet);
    border-radius: 77px;
  }

  .radio-new-checker {
    display: none;
  }

  .radio-new-check:checked ~ .radio-new-caption {
    color: var(--color-bg);
    background-color: var(--color-electric-violet);
  }

  .play-lists__cards {
    padding-top: 13px;
    padding-bottom: 12px;
    margin-bottom: 20px;
  }

  .play-lists__card {
    margin-bottom: 29px;
  }

  .play-lists__card-btn {
    top: 59px;
    left: calc(50% - 24px);
  }

  .play-lists__card-flag {
    right: 0;
    left: auto;
  }

  .play-lists__card-content {
    padding: 9px 0 9px 9px;

    width: 100%;
    border: 1px solid var(--color-athens-gray);
  }

  .play-lists__card-title {
    margin-bottom: 5px;

    display: block;
  }

  .play-lists__descr.warning {
    margin: 0;
    font-size: 12px;
    line-height: 130%;
  }

  .copyright {
    font-size: 12px;
  }

  /*market*/
  .market__container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .market__container-row:before {
    transform: scale(.386);
    left: -47px;
    top: -49px;
  }

  .market__title {
    background-image: url(../img/small-market-wave.svg);
  }

  .market__right {
    min-width: 100px;
  }

  .market__left {
    margin-bottom: 36px;
    padding: 0;
  }

  .market__left:before {
    top: -49px;
    left: -48px;
    transform: scale(0.39);
  }

  .market__title {
    padding-bottom: 23px;
    margin-bottom: 19px;
    max-width: initial;
  }

  .market__descr {
    width: 101%;
    line-height: 157%;
  }

  .market__descr--last {
    margin-bottom: 12px;
  }

  .market__descr > span {
    white-space: nowrap;
  }

  .market__price {
    margin: 0;
    padding: 0;

    font-size: 24px;
  }

  .market__price {
    margin-bottom: 15px;
  }

  .market__btn {
    padding: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  }

  /*abous-us*/
  .about-us__container {
    padding-top: 54px;
    padding-bottom: 51px;
  }

  .about-us__title {
    margin-bottom: 12px;
  }

  .about-us__descr {
    margin-bottom: 5px;
    line-height: 157%;
  }

  .about-us__descr > strong {
    margin-bottom: 5px;
  }

  .about-us__spiral {
    display: none;
  }

  .about-us__dawn {
    display: none;
  }

  .about-us__item {
    margin-bottom: 29px;
  }

  .about-us__item-picture {
    margin-bottom: 12px;
  }

  .about-us__item-title {
    margin-bottom: 4px;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    width: 90%;
  }

  .about-us__item .about-us__item-descr {
    font-size: 12px;
    line-height: 140%;
  }

  .form__input {
    padding: 16px 23px;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 16px;

    min-height: 40px;
  }

  .form__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .form__textarea {
    margin-bottom: 25px;

    min-height: 149px;
    border-radius: 20px;
  }

  .form__btn {
    margin-bottom: 17px;
    padding: 15px 42px;
    font-size: 16px;
  }

  .form__checkbox {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
  }

  .checkbox-icon:before {
    bottom: -1px;
  }

  .checkbox-icon:after {
    bottom: 4px;
    left: calc(var(--icon-size) * (-1.3) + calc(var(--icon-size) / 4) - 3px);
  }

  .footer__top {
    padding-top: 54px;
    padding-bottom: 0;

    overflow-x: initial;
  }

  .footer .social-items {
    width: 84%;
  }

  .footer__items {
    columns: 2 auto;
    column-gap: 26px;
  }

  .footer__item {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .footer__top-logo {
    padding-top: 37px;
    margin-bottom: 5px;
  }

  .footer__top-menu {
    position: relative;
    padding-top: 28px;
    padding-bottom: 26px;
    margin-bottom: 11px;
    background-color: var(--color-mirage);
  }

  .footer__top-menu:before {
    content: "";
    position: absolute;

    top: 0;
    right: 100%;
    left: -100px;
    bottom: 0;
    background-color: var(--color-mirage);
  }

  .footer__top-menu:after {
    content: "";
    position: absolute;

    top: 0;
    right: -100px;
    left: 100%;
    bottom: 0;
    background-color: var(--color-mirage);
  }

  .footer__bottom {
    font-size: 12px;
  }

  .footer__bottom p {
    font-size: 9px;
  }

  .just-validate-error-field ~ .just-validate-error-label {
    top: 5px;
    left: 24px;
  }

  .footer__wave {
    background-image: url(../img/small-footer-wave.svg);
  }

}

@media (max-width: 320px) {

}
