:root {
  --color-bg: #fff;
  --color-gray-chateau: #a1a6b4;
  --color-mischka: #d2d5dd;
  --color-mirage: #121723;
  --color-charade: #292e39;
  --color-buff: #f0d288;
  --color-athens-gray: #e6e8ec;
  --color-melrose: #aa9dfa;
  --color-electric-violet: #6d31ee;
  --color-daisy-bush: #4f28a5;
  --color-error: #FF6F6F;

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-bottom: 0;
}

a, a:focus, a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: initial;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v28-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'),
  url('../fonts/open-sans-v28-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v28-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v28-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v28-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body {
  min-width: 320px;
  font-family: Muller, Verdana, sans-serif;
  color: var(--color-mirage);
  background-color: var(--color-bg);
}

.container {
  padding-top: 95px;
  padding-bottom: 95px;

  width: 100%;
  max-width: 1111px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  word-break: break-word;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 12px 43px;

  display: inline-flex;

  justify-content: center;
  align-items: center;

  border: 2px solid var(--color-bg);
  outline: none;

  border-radius: 77px;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.btn-outline {
  padding: 23px 52px;

  background-color: transparent;
  border-color: currentColor;
  color: currentColor;

  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

.btn-outline:hover {
  color: var(--color-bg);
  background-color: var(--color-mirage);
}

.btn-outline:focus-visible,
.btn-outline:focus {
  background-color: var(--color-melrose);
}

.btn-outline:active {
  color: var(--color-bg);
  background-color: var(--color-daisy-bush);
  border-color: var(--color-daisy-bush);
}

.play-btn-small {
  display: none;
}

.flag {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 20px;
  width: 24px;

  border: var(--color-mirage) solid 4px;
}

.flag--en {
  background-image: url("../img/flags/en.png");
}

.flag--ru {
  background-image: url("../img/flags/ru.png");
}

.social-items {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

.social__link-phone {
  display: none;
}

.social-item {
  color: var(--color-gray-chateau);
  margin-right: 32px;
}

.social-item > a > svg {
  fill: currentColor;
}

.social-item:hover {
  color: var(--color-electric-violet);
}

.social-item:focus {
  color: var(--color-melrose);
}

.social-item:active {
  color: var(--color-daisy-bush);
}

.title {
  margin: 0;

  color: currentColor;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.descr {
  margin: 0;
  line-height: 150%;
}

.link {
  position: relative;
  color: currentColor;
  outline: none;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;

  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;

  background-color: var(--color-melrose);
  opacity: 0;

  transition: opacity .3s ease-in-out;
}

.link:hover {
  color: var(--color-electric-violet);
}

.link:focus {
  color: var(--color-bg);
}

.link:focus:after {
  opacity: 1;
}

.link:active {
  color: var(--color-daisy-bush);
}

.form-select__label {
  font-size: 16px;
  color: var(--color-gray-chateau);
}

.choices {
  padding-top: 8px;
}

.radio-new {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  flex-wrap: nowrap;

  font-size: 20px;
}

.copyright {
  margin-bottom: 6px;
  display: block;

  color: var(--color-gray-chateau);

  font-style: italic;
  font-size: 16px;
}

.age-warning {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 12px;
  color: var(--color-gray-chateau);

  border: 1px solid currentColor;
  border-radius: 100%;

  height: 30px;
  width: 30px;

  text-align: center;

}

/* choice */
.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 40%;
  right: 17.5px;
  border-style: solid;
  border-color: var(--color-gray-chateau);
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);

}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border-style: solid;
  border-color: var(--color-gray-chateau);
  border-width: 1px 1px 0 0;
}

.is-open {
  border-radius: 10px;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  padding-top: 30px;
  top: calc(100% - 20px);

  border: 1px solid var(--color-mischka);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.choices__inner {
  position: relative;
  z-index: 2;

  background: var(--color-athens-gray);
  border-radius: 10px;
  font-size: 16px;
  line-height: 100%;

  min-height: 39px;
}

.is-open .choices__inner {
  border-radius: 10px;
  border-color: var(--color-athens-gray);
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  font-size: 16px;
  color: var(--color-gray-chateau);
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 10px;
}

.choices__list--single > .choices__item {
  color: var(--color-mirage);
}

.choices__list--dropdown .choices__item + .is-selected, .choices__list[aria-expanded] .choices__item + .is-selected {
  color: var(--color-mirage);
  background: transparent;
}

.choices__list--dropdown .choices__item + .is-highlighted, .choices__list[aria-expanded] .choices__item + .is-highlighted {
  color: var(--color-mirage);
  background: rgba(230, 232, 236, 0.4);
}


/* burger */
.burger {
  position: relative;
  z-index: 35;

  width: 0;
  height: 36px;

  color: var(--color-electric-violet);

  visibility: hidden;
  cursor: pointer;

  transition: width .3s ease-in-out;
}

.burger > .burger--left > svg {
  transition: transform .3s ease-in-out;
}

.burger--active > .burger--left > svg {
  transform-origin: center;
  transform: rotate(-45deg);
}

.burger > .burger__first {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 4px;
  right: 4px;

  height: 3px;
  background-color: currentColor;
  transition: transform .3s ease-in-out;
}

.burger--active > .burger__first {
  transform-origin: top left;
  transform: rotate(45deg) translateY(3px);
}

.burger > .burger__second {
  position: absolute;
  z-index: 2;
  top: calc(50% - 2px);
  left: 4px;
  right: 4px;

  height: 3px;
  background-color: currentColor;
  transition: visibility .3s ease-in-out, transform .3s ease-in-out;
}

.burger--active > .burger__second {
  transform-origin: left;
  transform: rotate(-45deg) translateX(-8px) translateY(4px);
  visibility: hidden;
}

.burger > .burger__third {
  position: absolute;
  z-index: 2;
  bottom: 7px;
  left: 4px;
  right: 4px;
  height: 3px;
  background-color: currentColor;
  transition: transform .3s ease-in-out;
}

.burger--active > .burger__third {
  transform-origin: bottom left;
  transform: rotate(-45deg) translateY(-3px);
}

/* header */
.header {
  color: var(--color-mirage);
}

.header__top {
  border: 1px solid var(--color-athens-gray);
}

.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-content {
  padding-top: 19px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}

.header__logo {
  margin-right: 26px;

  display: flex;
}

.header__logo-picture {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.header__hav {
  display: flex;
}

.header__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-end;
  align-items: center;

  font-size: 20px;
  line-height: 100%;
}

.header__item {
  margin-right: 59px;
}

.header__top-right {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  justify-content: flex-end;
  align-items: center;
}

.header__form {
  z-index: 2;
  position: absolute;
  right: 116px;

  padding-left: 18px;
  padding-right: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 60px;

  background-color: var(--color-bg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  opacity: 0;
  visibility: hidden;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.header__form--active {
  visibility: visible;
  transform: none;
  opacity: 1;
}

.header__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px var(--color-electric-violet);
}

.header__btn-search {
  z-index: 2;

  padding-top: 5px;
  margin-right: 24px;
  color: var(--color-electric-violet);
}

.header__btn-search > svg {
  stroke: currentColor;
}

.header__btn-search:hover {
  color: var(--color-melrose);
}

.header__btn-search:focus-visible,
.header__btn-search:focus {
  color: var(--color-melrose);
}

.header__btn-search:active {
  color: var(--color-daisy-bush);
}

.header__btn-enter {
  padding: 10px 31px;

  font-size: 16px;
}

.header__bottom {
  border: 1px solid var(--color-athens-gray);
}

.header__bottom-burger {
  display: none;
}

.header__bottom-content {
  padding-top: 0;
  padding-bottom: 0;
}

.header__bottom-content-row {
  display: flex;
  flex-wrap: wrap;
}

.header__bottom-descr {
  margin: 0;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header__bottom-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__bottom-btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__btn--play {
  margin-right: 10px;
  color: var(--color-gray-chateau);

  transition: color .3s ease-in-out;

  outline: none;
  width: 20px;
  height: 20px;
}

.header__btn--paused {
  background-image: url("../img/pause.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__btn--paused > svg {
  display: none;
}

.header__btn--play:hover {
  color: var(--color-electric-violet);
}

.header__btn--play:focus-visible,
.header__btn--play:focus {
  color: var(--color-melrose);
}

.header__btn--play:active {
  color: var(--color-daisy-bush);
}

.header__btn--play > svg {
  fill: currentColor;
}

.header__btn--stopped {

}

.header__bottom-item {
  margin-right: 53px;
}

.header__bottom-item--play {
  margin-right: 0;
  padding-top: 0;
  padding-left: 10px;

  display: flex;

  justify-content: flex-start;
  align-items: center;

  min-width: 174px;

  border-left: var(--color-athens-gray) solid 1px;
  border-right: var(--color-athens-gray) solid 1px;
}

.header__bottom-header {
  color: var(--color-gray-chateau);
  font-size: 12px;
}

.header__bottom-link {
  margin-right: 9px;
}

.header__age {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
}

.header__info {
  display: inline-flex;

  justify-content: center;
  align-items: center;

  width: 46px;
  height: 57px;
  background-color: var(--color-athens-gray);
}

.header__info > span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: var(--color-bg);
  border-radius: 100px;

  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;

  color: var(--color-gray-chateau);
}

/* hero */
.hero__container {
  padding-top: 38px;
  padding-bottom: 39px;
}

.hero__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero__content-left {
  flex-basis: calc(100% * 2 / 3);
}

.hero__content-right {
  display: flex;

  justify-content: flex-end;
  flex-basis: calc(100% / 3);
}

.hero__content-right-img {
  max-width: 100%;
}

.hero__title {
  padding-top: 49px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 60px;

  line-height: 120%;
}

.hero__title > span {
  font-weight: 400;
  font-style: italic;
}

.hero__descr {
  margin-bottom: 45px;
  max-width: 85%;
}

.form__btn,
.hero__btn {
  padding: 23px 52px;

  font-weight: 500;
  font-size: 20px;

  color: var(--color-bg);
  background-color: var(--color-electric-violet);
  transition: background-color .3s ease-in-out, border .3s ease-in-out;


  border: 2px solid var(--color-electric-violet);
  outline: none;
}

.form__btn:hover,
.hero__btn:hover {
  background-color: var(--color-melrose);
}

.form__btn:focus,
.hero__btn:focus {
  background-color: var(--color-melrose);
  border-color: var(--color-daisy-bush);
}

.form__btn:active,
.hero__btn:active {
  background-color: var(--color-daisy-bush);
}

/* podcasts */
.podcasts {
  background-color: var(--color-athens-gray);
}

.podcasts__title {
  margin-bottom: 29px;
}

.podcasts__item-btn {
  margin-right: 30px;
  color: var(--color-gray-chateau);
  transition: color .3s ease-in-out;

  outline: none;
}

.podcasts__item-btn:hover {
  color: var(--color-electric-violet);
}

.podcasts__item-btn:focus-visible,
.podcasts__item-btn:focus {
  color: var(--color-melrose);
}

.podcasts__item-btn:active {
  color: var(--color-bg);
}

.podcasts__item-btn:active > svg {
  fill: var(--color-daisy-bush);
}

.podcasts__item-btn > svg {
  stroke: currentColor;
}

.podcasts__item-btn > svg > path {
  fill: currentColor;
}

.podcasts__top {
  display: flex;
}

.podcasts__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.podcasts__item {
  margin-bottom: 30px;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  min-width: calc(50% - 15px);
}


.podcasts__item-left {
  position: relative;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.podcasts__item-date {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 51px;
  height: 16px;
  font-size: 10px;

  background-color: var(--color-athens-gray);
}

.podcasts__item-right {
  padding-left: 30px;

  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: var(--color-bg);
}

.podcasts__item-descr {
  margin: 0;
}

.podcasts__item-content {
  padding-top: 25px;
  padding-bottom: 23px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: var(--color-athens-gray) solid 1px;
}

.podcasts__item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.podcasts__item-time {
  margin-bottom: 7px;

  font-size: 11px;
}

.podcasts__item-title {
  margin-bottom: 3px;

  font-size: 20px;
}

.podcasts__item-descr {
  font-size: 16px;

  color: var(--color-gray-chateau);
}

.podcasts__item-reactions {
  flex: 1;

  display: flex;
  align-items: center;
}

.reactions__btn {
  margin-right: 33px;

  position: relative;

  color: var(--color-gray-chateau);

  background-color: transparent;

  outline: transparent solid 3px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, outline-color .3s ease-in-out;
}

.reactions__btn > svg {
  fill: currentColor;
}


.reactions__btn:hover {
  color: var(--color-electric-violet);
}

.reactions__btn:focus-visible,
.reactions__btn:focus {
  color: var(--color-bg);
  background-color: var(--color-melrose);
  outline-color: var(--color-melrose);
}

.reactions__btn:active {
  color: var(--color-daisy-bush);
}

.podcasts__bottom {
  padding-top: 30px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.podcasts__btn {
  font-weight: 500;
  font-size: 20px;

  color: var(--color-electric-violet);
}

.podcasts__btn:hover {
  background-color: var(--color-electric-violet);
}

/* broadcast */
.broadcast__item--first {
  order: 0;
}

.broadcast__item-1 {
  order: 1;
}

.broadcast__item-2 {
  order: 2;
}

.broadcast__item-3 {
  order: 3;
}

.broadcast__item-4 {
  order: 5;
}

.broadcast__item-5 {
  order: 6;
}

.broadcast__item-6 {
  order: 7;
}

.broadcast__item--last {
  order: 4;
}

.broadcast__container {
  padding-top: 108px;
  padding-bottom: 66px;
}

.broadcast__title {
  margin-bottom: 8px;
}

.broadcast__items {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.broadcast__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  width: calc(25% - 22px);
  max-width: 25%;
}

.broadcast__item-picture {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.broadcast__item--first {
  transform: translateY(-13px);
}

.broadcast__item--last {
  padding-top: 48px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.broadcast__item-down {
  padding-top: 20px;
  padding-left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-height: 111px;
  border: 1px solid var(--color-athens-gray);
}

.broadcast__item--last .broadcast__item-img {
  margin-bottom: 17px;
}

.broadcast__item-title {
  font-weight: 500;
  font-size: 20px;

  color: var(--color-mirage);
}

.broadcast__item-descr {
  margin-bottom: 16px;

  font-size: 12px;
  color: var(--color-gray-chateau);
}

.broadcast__item-link {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;

  color: var(--color-mirage);
}

.broadcast__item-link > span > svg {
  fill: currentColor;
}

.broadcast__item-btn {
  padding: 7px 42px;
  margin-bottom: 11px;

  font-weight: 500;
  font-size: 16px;

  color: var(--color-mirage);
}

.broadcast__item-btn > span > svg {
  margin-right: 5px;

  stroke: currentColor;
}

.broadcast__item-content {
  font-size: 16px;
  line-height: 150%;

  color: var(--color-gray-chateau);
}

/* guests */
.guests {
  background-color: var(--color-mirage);
  color: var(--color-bg);
}

.guests__container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guests__top {
  margin-bottom: 41px;
}

.guests__descr {
  margin-bottom: 8px;

  max-width: 75%;

  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  color: var(--color-gray-chateau);
}

.guests__title {
  margin-bottom: 10px;
}

.guests__accordion {
  max-width: calc((100% * 2 / 3));
}

.guests__items {
  padding: 0;

  columns: 4 auto;
  column-gap: 30px;

  font-size: 16px;
  line-height: 200%;

  height: 0;
  width: 100%;
  overflow: hidden;

  transition: height .3s ease-in-out;
}

.guests__content {
  max-width: calc((100% / 3) - 20px);
}

.guests__accordion-item:last-child {
  border-bottom: var(--color-gray-chateau) solid 1px;
}

.guests__accordion-item-title {
  padding: 23px 3px 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 20px;

  width: 100%;

  border-top: var(--color-gray-chateau) solid 1px;
  border-bottom: var(--color-gray-chateau) solid 1px;

  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.guests__accordion-item-title:hover {
  color: var(--color-melrose);
}

.guests__accordion-item-title:hover > svg {
  stroke: var(--color-melrose);
}

.guests__accordion-item-title:focus {
  background-color: rgba(170, 157, 250, .3);
}

.guests__accordion-item-title:active {
  color: var(--color-melrose);
}

.guests__accordion-item-title:active > svg {
  stroke: var(--color-bg);
  fill: var(--color-melrose);
}

.guests__accordion-item-title:active > svg > circle {
  stroke: var(--color-melrose);
}

.guests__item {
  cursor: pointer;
}

.guests__item:hover {
  color: var(--color-melrose);
}

.guests__item--active {
  color: var(--color-melrose);
}

.guests__accordion-item.is-active .guests__items {
  padding: 22px 0;
  height: 100%;
}

.guests__accordion-item-title > svg {
  stroke: var(--color-gray-chateau);
}

.arrow-in-circle {
  transition: transform .3s ease-in-out;
}

.guests__accordion-item.is-active .arrow-in-circle {
  transform: rotate(180deg);
}

.guests__social-photo > img {
  max-width: 100%;
  margin-bottom: 8px;
}

.guests__content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 175%;
}

.guests__content-descr {
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--color-gray-chateau);
  line-height: 180%;
}

.guests__content-btn {
  padding: 10px 18px;

  color: var(--color-melrose);
  border-color: var(--color-melrose);
  background-color: transparent;
}

.guests__content-btn:hover {
  color: var(--color-bg);
  border-color: var(--color-melrose);
  background-color: var(--color-melrose);
}

.guests__content-btn:focus {
  color: var(--color-bg);
  border-color: var(--color-electric-violet);
  background-color: var(--color-electric-violet);
}

.guests__content-btn:active {
  color: var(--color-bg);
  border-color: var(--color-daisy-bush);
  background-color: var(--color-daisy-bush);
}

/* play-lists */
.play-lists__container {
  padding-bottom: 63px;
}

.play-lists__row {
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;

  max-height: 150vh;
}

.play-lists__warning {
  max-width: calc(100% / 3);
  line-height: 136%;
}


.play-lists__content {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.play-lists__title {
  margin-bottom: 9px;
}

.play-lists__descr {
  margin: 0 0 11px 0;

  font-size: 16px;
  color: var(--color-gray-chateau);
}

.play-lists__items {
  padding-bottom: 13px;
  margin-bottom: 29px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 20px;
  border-bottom: 1px solid var(--color-mischka);
}

.play-lists__item {
  margin-bottom: 20px;
}

.radio-new-checker {
  margin-right: 16px;

  width: 26px;
  height: 26px;

  border-color: var(--color-gray-chateau);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;

  transition: border .3s ease-in-out;
}

.radio-new-check:checked + .radio-new-checker {
  border-color: var(--color-electric-violet);
  border-width: 7px;
}

.play-lists__cards {
  padding: 13px 0 0;

  align-self: flex-end;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;

  max-width: calc((100% * 2 / 3) - 10px);
}

.play-lists__card {
  margin-bottom: 34px;

  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 160px;
  min-height: 220px;
}

.play-lists__card-picture {
  margin: 0 0 16px 0;
  font-size: 0;
  line-height: 0;
}

.play-lists__card-img {
  max-width: 100%;
}

.play-lists__card-content {
  padding-left: 16px;
}

.play-lists__card-title {
  /*padding-left: 16px;*/

  font-weight: 500;
  font-size: 16px;
}

.play-lists__card-descr {
  /*padding-left: 16px;*/

  font-size: 12px;
  color: var(--color-gray-chateau);
}


.play-lists__card-flag {
  position: absolute;
  z-index: 1;

  right: 0;
  top: 0;
}

.warning {
  margin-bottom: 0;
}

/* market */
.market {
  background-color: var(--color-charade);
  color: var(--color-buff);
}

.market__container {
  padding-bottom: 130px;

  max-width: 1121px;
}

.market__container-row {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.market__left {
  padding-top: 7px;
  position: relative;

  flex-basis: calc(100% * 7 / 12);
}


.new {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: center;

  min-width: 160px;
  min-height: 160px;
}

.market__right {
  flex-basis: calc((100% * 5 / 12) - 16px);
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.market__title {
  margin-bottom: 18px;
}

.market__right-picture {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.market__wave {
  margin-bottom: 19px;
}

.market__descr {
  margin-bottom: 13px;

  line-height: 180%;
  color: var(--color-bg);
}

.market__descr--last {
  margin-bottom: 16px;
}

.market__descr > span {
  color: var(--color-buff);
}

.market__price {
  margin-bottom: 27px;
  padding-top: 12px;

  color: var(--color-bg);
  font-weight: 500;
  font-size: 30px;

}

.market__btn {
  padding-left: 11px;
  padding-right: 12px;

  color: currentColor;
  background-color: inherit;

  font-weight: 500;
  font-size: 20px;

  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.market__btn > svg {
  margin-right: 7px;
}

.market__btn:hover {
  color: var(--color-charade);
  background-color: var(--color-buff);
}

.market__btn:hover .yandex-wave {
  fill: var(--color-buff);
}

.yandex-circle {
  fill: currentColor;
}

.yandex-wave {
  fill: var(--color-charade);
  transition: fill .3s ease-in-out;
}

/* about-us */

.about-us__container {
  padding-top: 97px;
  padding-bottom: 90px;
}

.about-us__title {
  margin-bottom: 9px;
  color: var(--color-bg);
}

.about-us__descr {
  font-size: 20px;
  line-height: 160%;
}

.about-us__descr > strong {
  margin-bottom: 3px;
  display: block;

  line-height: 188%;
}

.about-us {
  background-color: var(--color-mirage);
  color: var(--color-gray-chateau);
}

.about-us__items {
  margin: 0 0 30px;

  display: flex;

  flex-wrap: nowrap;
  justify-content: space-between;
}

.about-us__item {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.about-us__item-picture {
  margin: 0;

  flex: 0 0 auto;
  font-size: 0;
  line-height: 0;
}

.about-us__item-title {
  padding-top: 30px;
  margin-bottom: 8px;

  flex: 0 1 auto;
  font-weight: 500;
  font-size: 20px;

  color: var(--color-bg);
}

.about-us__item-descr {
  flex: 0 1 auto;
  max-width: 255px;
}

.about-us__dawn {
  padding-top: 18px;
}

.about-us__top {
  margin-bottom: 23px;

  display: flex;
  flex-wrap: nowrap;

  justify-content: space-between;
}

.about-us__top-content {
  flex-grow: 6;
}

.about-us__spiral {
  margin-right: 30px;
  flex-grow: 4;
}

.about-us__dawn {
   flex-grow: 3;
 }

.about-us__form {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  width: 83%;
}

.form__message-label {
  width: 100%;
}

.form__input-label {
  width: calc(48% + 3px);
}
/* input */
.form__input {
  margin-bottom: 30px;
  padding: 22px 32px;

  background-color: transparent;
  color: var(--color-gray-chateau);
  font-size: 20px;

  border: 1px solid var(--color-bg);
  border-radius: 40px;

  min-height: 70px;
  width: 100%;

  outline: none;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out;
}

.form__input:hover {
  background: rgba(230, 232, 236, 0.1);
  border-color: var(--color-bg);
}

.form__input:focus-visible,
.form__input:focus {
  background: rgba(230, 232, 236, 0.1);
  border-color: var(--color-melrose);
}


.form__input:active {
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.form__input::placeholder {
  font-size: 20px;
  color: var(--color-gray-chateau);
}

.form__textarea {
  margin-bottom: 25px;
  padding-top: 28px;

  min-height: 150px;

  border-radius: 30px;
}

.form__bottom {
  width: 100%;
}

.form__btn {
  margin-bottom: 30px;
  padding: 23px 52px;
}

.form__checkbox {
  padding-left: 22px;

  font-weight: 500;
  font-size: 12px;

  color: var(--color-bg);
}


.form__checkbox-input--hide {
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox-icon {
  --icon-size: 14px;
  position: relative;
}

.checkbox-icon:before {
  content: "";
  position: absolute;
  height: var(--icon-size);
  width: var(--icon-size);
  border: 1px solid var(--color-bg);

  left: calc(var(--icon-size) * (-1.3));
  bottom: 0;
}

.checkbox-icon:after {
  content: "";
  position: absolute;
  height: calc(var(--icon-size) / 3);
  width: calc(var(--icon-size) / 2);

  left: calc(var(--icon-size) * (-1.3) + calc(var(--icon-size) / 4));
  top: calc(50% - calc(var(--icon-size) / 6));

  border: 2px solid var(--color-melrose);
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__checkbox-input:checked + .checkbox-icon:after {
  opacity: 1;
}


/* footer */
.footer {
  background-color: var(--color-charade);
  color: var(--color-bg);
}

.footer__top {
  padding-top: 93px;
  padding-bottom: 70px;
}

.footer__top-row {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}


.footer__top-menu {
  max-width: 40%;
}

.footer__logo {
  margin-bottom: 13px;
}

.footer__social {
  color: var(--color-gray-chateau);
}

.footer__social > .social-item {
  margin-right: 22px;
}

.footer svg {
  fill: currentColor;
}

.footer__items {
  columns: 3;
  column-gap: 120px;
}

.footer__item {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.footer__bottom {
  padding: 0;
  color: var(--color-gray-chateau);
}

.footer__wave {
  margin-bottom: 5px;
  display: block;
}

.footer__bottom-logo {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-size: 14px;
  letter-spacing: 0.14rem;
}

/* validate */

.just-validate-error-field {
  position: relative;
  border-color: var(--color-error);
}

.just-validate-error-label {
  position: absolute;
  top: 9px;
  left: 48px;

  color: var(--color-error);
  font-size: 12px;
}