:root {
  --color-content: #121723;
  --color-bg: #fff;
  --color-electric-violet: #6d31ee;
  --color-gray-chateau: #a1a6b4;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

strong,
span {
  word-break: break-word;
}

picture {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

img {
  max-width: 100%;
}

label {
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  word-break: break-word;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


body {
  min-width: 320px;
  font-family: Muller, Verdana, sans-serif;
  color: var(--color-content);
  background-color: var(--color-bg);
}

.btn {
  padding: 12px 43px;

  display: inline-flex;

  justify-content: center;
  align-items: center;

  border: 2px solid var(--color-content);
  border-radius: 77px;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

/* header */
.header__top {
  align-items: center;
  text-align: center;
}

.header__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__btn-search {
  color: var(--color-electric-violet);
}

.header__btn-search > svg {
  stroke: currentColor;
}

.header__bottom-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-link {
  color: var(--color-gray-chateau);
}

.header__bottom-link > svg {
  fill: currentColor;
}

.header__bottom-item {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.header__bottom-content {
  display: flex;
  flex-direction: column;
}

/* hero */

/* podcasts */
.podcasts__item-btn {
  color: var(--color-gray-chateau);
}

.podcasts__item-btn > svg {
  stroke: currentColor;
}

.podcasts__item-btn > svg >path {
  fill: currentColor;
}

.podcasts__item {
  display: flex;
  flex-wrap: wrap;
}

.podcasts__item-left {
  position: relative;
}

.podcasts__item-date {
  position: absolute;
  left: 15px;
  bottom: 0;

  background: #E6E8EC;
}

.podcasts__item-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.podcasts__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcasts__item-reactions > * {
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: left center;
}

.podcasts__item-play {
  background-image: url("../img/triangle.svg");
}

.podcasts__item-heard {
  background-image: url("../img/heard.svg");
}

.podcasts__item-lines {
  background-image: url("../img/lines.svg");
}